<div class="form-container">
  <h3 class="form-container__title">Insira seus dados para entrar</h3>
  <form class="form-container__form" [formGroup]="loginForm">
    <input type="text" placeholder="Login" formControlName="username" />
    <input type="password" placeholder="Senha" formControlName="password" />
    <button class="form-container__btn-submit" (click)="onSubmit()">
      Entrar
    </button>
  </form>
  <a class="form-container__forgot" routerLink="/register"
    >Não tem uma conta? Clique aqui para se cadastrar</a
  >
</div>
