<div class="form-container">
  <h3 class="form-container__title">
    Insira seus dados para criar uma nova conta
  </h3>
  <form class="form-container__form" [formGroup]="registerForm">
    <input
      class="form-container__input"
      type="text"
      placeholder="Nome"
      formControlName="name"
      [class.form-container__input--invalid]="showError('name')"
    />
    <div class="form-container__line">
      <input
        class="form-container__input-sm"
        type="text"
        placeholder="Login"
        formControlName="username"
        [class.form-container__input--invalid]="showError('username')"
      />
      <input
        class="form-container__input-sm"
        type="email"
        placeholder="Email"
        formControlName="email"
        [class.form-container__input--invalid]="showError('email')"
      />
    </div>
    <div class="form-container__line">
      <input
        class="form-container__input-sm"
        type="password"
        placeholder="Confirmar Senha"
        formControlName="password"
        [class.form-container__input--invalid]="showError('password')"
      />
      <input
        class="form-container__input-sm"
        type="password"
        placeholder="Senha"
        formControlName="confirmPassword"
        [class.form-container__input--invalid]="showError('confirmPassword')"
      />
    </div>

    <button
      class="form-container__btn-submit"
      (click)="onSubmit()"
      [class.form-container__btn-submit--loading]="loading"
      [disabled]="loading"
    >
      <div [hidden]="loading">Criar conta</div>
      <app-spinner [hidden]="!loading"></app-spinner>
    </button>
  </form>
  <a class="form-container__forgot" routerLink="/login"
    >Já tem uma conta? Clique aqui para entrar</a
  >
</div>
