<div class="form-container">
  <h3 class="form-container__title">
    Insira seus dados para criar uma nova conta
  </h3>
  <form class="form-container__form">
    <input class="form-container__input" type="text" placeholder="Nome" />
    <div class="form-container__line">
      <input class="form-container__input-sm" type="text" placeholder="Login" />
      <input
        class="form-container__input-sm"
        type="email"
        placeholder="Email"
      />
    </div>
    <div class="form-container__line">
      <input
        class="form-container__input-sm"
        type="password"
        placeholder="Confirmar Senha"
      />
      <input
        class="form-container__input-sm"
        type="password"
        placeholder="Senha"
      />
    </div>

    <button class="form-container__btn-submit">Entrar</button>
  </form>
  <a class="form-container__forgot" href="#"
    >Já tem uma conta? Clique aqui para entrar</a
  >
</div>
