<div class="question">
  <div class="user">
    <div class="user__avatar">
      <img
        src="https://static-cdn.jtvnw.net/emoticons/v1/306191024/3.0?_=preview"
        alt="avatar"
      />
    </div>
    <div class="user__info">
      <h4 class="user__username">Anônimo</h4>
      <span class="user__date">14 dez</span>
    </div>
  </div>
  <div class="answer">
    <span
      >sua live eh muito boa, só precisa melhorar a qualidade de imagem,
      qualidade de audio, gameplay, interação com o chat, personalidade,
      overlay, o conteudo, a moderação, o publico, a plataforma, a loja, o bot e
      os alerts. Fora isso ta muito bom xD</span
    >
  </div>
  <div class="buttons">
    <button class="buttons__reply">Reply</button>
  </div>
</div>
