<div class="login">
  <header class="header">
    <img src="../../assets/logo.svg" alt="Blindas" />
    <img src="../../assets/logo2.svg" alt="Curious Blindas" />
    <h3 class="header__title">seu lugar é no museu!</h3>
  </header>

  <div class="form-container">
    <h3 class="form-container__title">Insira seus dados para entrar</h3>
    <form class="form-container__form">
      <input type="text" placeholder="Login" />
      <input type="password" placeholder="Senha" />
      <button class="form-container__btn-submit">Entrar</button>
    </form>
    <a class="form-container__forgot" href="#"
      >Não tem uma conta? Clique aqui para se cadastrar</a
    >
  </div>

  <footer class="footer">
    <span class="footer__text">By logging in you agree to our</span>
    <a class="footer__link" href="#"
      >Termos do serviço, Política de Privacidade & Política de Cookies</a
    >
  </footer>
</div>
