<div class="question">
  <span class="question__text"
    >sua live eh muito boa, só precisa melhorar a qualidade de imagem, qualidade
    de audio, gameplay, interação com o chat, personalidade, overlay, o
    conteudo, a moderação, o publico, a plataforma, a loja, o bot e os alerts.
    Fora isso ta muito bom xD</span
  >
  <span class="question__sender">Anônimo</span>
  <div class="user-info">
    <div class="user-info__avatar">
      <img
        src="https://m.curiouscat.qa/1531452198/avatars/8746661.jpg"
        alt="ezrealblindado"
      />
    </div>
    <div class="user-info__wrapper">
      <div class="user-info__wrapper--username">ezrealblindado</div>
      <div class="user-info__wrapper--time">Há 9 dias</div>
    </div>
  </div>
  <span class="question__answer">
    Não concordo nem discordo, muito pelo contrário.
  </span>
  <div class="buttons">
    <div class="buttons__like">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
          clip-rule="evenodd"
        />
      </svg>
      <span class="buttons__like--counte4r">0</span>
    </div>
  </div>
</div>
