<div class="profile-container">
  <app-profile-header></app-profile-header>
  <div class="user-info">
    <div class="user-info__cover">
      <img
        src="https://m.curiouscat.qa/1531452198/banners/8746661.jpg"
        alt="cover"
      />
      <div class="user-info__avatar">
        <img
          src="https://m.curiouscat.qa/1531452198/avatars/8746661.jpg"
          alt="avatar"
        />
      </div>
    </div>
    <h3 class="user-info__username">ezrealblindado</h3>

    <div class="user-info__information">
      <div class="user-info__counter-box">
        <span class="user-info__counter-box--number">152</span>
        <span class="user-info__counter-box--label">Seguidores</span>
      </div>
      <div class="user-info__counter-box">
        <span class="user-info__counter-box--number">152</span>
        <span class="user-info__counter-box--label">Answers</span>
      </div>

      <div class="user-info__counter-box">
        <span class="user-info__counter-box--number">152</span>
        <span class="user-info__counter-box--label">Seguindo</span>
      </div>
    </div>

    <button class="user-info__follow-button">Seguir</button>

    <textarea
      class="user-info__new-question"
      placeholder="Pergunte-me qualquer coisa"
      autocapitalize="sentences"
      autocomplete="on"
      autocorrect="on"
      dir="auto"
      spellcheck="true"
      rows="1"
      data-focusable="true"
    >
    </textarea>

    <button class="user-info__ask-button">Perguntar</button>
  </div>

  <div class="questions-container">
    <app-profile-question></app-profile-question>
  </div>
</div>
